
*{
    margin:0;
    padding:0;
}

/**************************About******************************/


.aa{
    font-weight: bolder ;
    background: rgba(88,70,40,0.1);
}
.all p{
    text-align: justify;
    color:black;
    line-height: 25px;
    word-spacing: 3px;
    margin-top:10px;
}
@font-face{
    font-family: 'bb';
    src: ('/font/DroidSans.ttf');
}
.aboutusP{
    font-family: 'bb';
}
.shopimg{
    width: 1140px;
    height: 500px;
}
@media(max-width: 768px)
{
    .shopimg{
        width: 660px;
        height: 500px;
    }
}
@media(max-width: 748px)
{
    .shopimg{
        width: 660px;
        height: 470px;
    }
}
@media(max-width: 710px)
{
    .shopimg{
        width: 600px;
        height: 430px;
    }
}
@media(max-width: 660px)
{
    .shopimg{
        width: 550px;
        height: 400px;
    }
}
@media(max-width: 610px)
{
    .shopimg{
        width: 500px;
        height: 400px;
    }
}
@media(max-width: 550px)
{
    .shopimg{
        width: 400px;
        height: 300px;
    }
}
@media(max-width: 450px)
{
    .shopimg{
        width: 300px;
        height: 200px;
    }
}
@media(max-width: 350px)
{
    .shopimg{
        width: 230px;
        height: 160px;
    }
}

/***************************End About***************************/


/****************************Add_Cart*******************************/
*
{
    margin:0;
    padding:0;
}
body
{
    /*background-color: #E2E2E2;*/
}
.tr th
{
    font-size:16px;
    color: #818181;
    text-align: center;
    font-family: 'aa';
}

.trdesign
{
    font-size: 19px;
    text-align: center;
    font-family: 'aa';
}
.addtocart img{
    width: 70px;
    height: 25px;
    display: inline-block;

}
@media(max-width: 992px){
    .addtocart{
        text-align: center;
    }
}
@font-face{
    font-family: 'aa';
    src: url('../../public/font/Amaranth-Regular.ttf');
}
.atccontainer{
    margin-top: 50px;
}
.shopping h1{
    text-align: center;
    font-size: 2em;
    font-family: 'aa';
    color: #818181;
}
.shoppingrow{
    background-color: #F4F6C5;
}
.cartimg{
    height: 65px;
}
.btndanger{
    margin: 60px 0;
}
.trdesign{
    height: 50px;
    line-height: 50px;
    color: #92928B;
}
@media(min-width: 992px)
{
    .addtocart{
        text-align: center;
    }
}
.modalmodal{
    background-color: #F4F6C5;
    font-family: 'aa';
}
.makebtn{
    background-color: #47493F;
    width: 130px;
    color: white;
}
.cancelbtn{
    background-color: #47493F;
    width: 130px;
    color: white;
}
.table{
    background-color: #F4F6C5;
}
.continuebtn{
    background-color: #47493F;
    width: 140px;
    color: #fff;
    margin-left: 20px;
}
.checkoutbtn{
    background-color: #47493F;
    width: 140px;
    color: #fff;
    margin-right: 20px;
}
@media(max-width: 340px)
{
    .continuebtn{
        width: 120px;
        font-size: 12px;
    }
    .checkoutbtn{
        width: 80px;
        font-size: 12px;
    }
}
.addtocart{
    margin-top: 50px;
}

/****************************End Add_cart******************************/

/******************contact***************/

h1 {
    text-align: center;
}
.concol
{
    text-align: center;

    margin-top: 50px;

}
font,.smh
{
    font-size: 20px;
}
.inform
{

    font-size: 18px;
}
.yincol
{
    margin-bottom: 3px;
}
.yconcon
{
    margin-top: 10px;
}
.ymarcon
{
    margin-top: 20px;
}
.yconcon input,textarea{
    border-color: gray !important;
}
.btn{
    background:linear-gradient(-45deg,gray,#F7F5F1,gray);
}
#map {
    width: 100%;
    height: 380px;
    background-color: grey;
}

.contact_us legend{
    font-family: 'sub-header';
    color: #eee;
    /*font-size: 23px;*/
    /*font-weight: bold;*/
    background-color: rgba(186,56,56,0.9);
    margin-bottom: 20px;
    /*padding:8px;*/
    padding: 5px 0 5px 20px;

}
@font-face{
    font-family: 'aa';
    src: url('font/Amaranth-Regular.ttf');
}
.concol{
    font-family: 'aa';
}
.yconcon{
    font-family: 'aa';
}
/**********End contact***********************/
/*****************************Detail**************************************/


body{
    /*background-color: #DBE2EC;*/
}
.ph_detail_img{
    /*width: 100%;*/
    height: 300px;
    padding-top: 50px;

}
.ph_detail_para{
    font-size: 18px;
    text-align: justify;
    line-height: 2em;
    font-family: 'aa';
}
.phdetail{
    line-height: 1.9em;
    text-align: center;
}
.color{
    font-size: 17px;
    color: black;
    font-family: 'aa' !important;
}
.phoneimg{
    width: 100%;
    height: 450px;
    /*border: 2px solid #fafafa;*/
    box-shadow: 2px 2px 10px grey,-2px -2px 10px grey;
    padding-top: 30px;
    margin-top: 10px;
}
.img img{
    margin: 10px 0;
}
.phcolor{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 10px;
}
.first{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
    background-color: white;
}
.second{
    background-color: black;
}
.third{
    background-color: gold;
}
.ph_detail_btn{
    width: 120px;
    border-radius: 0;
    height: 35px;
    box-shadow: 1px 1px 1px grey,-1px -1px 1px grey;
    background-color: #84E8FC;
    background: -webkit-linear-gradient(45deg,white,grey);
    font-size: 17px;
    margin: 19px 0;
}
.imgimg{
    width: 145px;
}
.imgimg:hover{
    box-shadow: 2px 2px 5px black,-2px -2px 5px black;
}
.imgdiv{
    text-align: center;
}
@media(min-width: 768px){
    .add_to_cart{
        text-align: center;
    }
}
.colorchoose{
    text-align: center;
}
@media(max-width: 992px)
{
    .phoneimg{
        margin-top: 25px;
    }
    .colorchoose{
        margin-top: 35px;
    }
    /*.colorandmodel{
        margin-top: 50px;
    }*/
    .phdetail{
        padding-top: 25px;

    }
}
@media(max-width: 768px)
{
    .img
    {
        text-align: center;
    }
}
@font-face{
    font-family: 'aa';
    src: url('../../public/font/Amaranth-Regular.ttf');
}
.phdetail{
    font-family: 'aa';
    font-size: 17px;
}


/******************************End Detail************************************/

/*******************************Login****************************************/


#wel1
{

    height:400px;
    background: rgba(168,168,168,0.2);
    margin-top: 20vh;
}
.logbtn{
    background: linear-gradient(-45deg,gray,#F7F5F1,gray);
}
.form h2{
    font-size: 2em;
}
.m_form .form-control{
    color:#fff!important;
}

/**********************************End Login************************************/

/**********************************Smart Phone***************************************/

*{
    margin: 0;
    padding: 0;
}
/*START SIDEBAR*/

.sidebar{
    padding-top: 25px;
}
.list-group-item{
    margin-bottom: 0;
}
@font-face{
    font-family: 'aa';
    src: url('../../public/font/Amaranth-Regular.ttf');
}
.brand,.range{
    font-size: 25px !important;
    height: 47px !important;
    font-family: 'aa';
}
.list{
    height: 40px;
}
a{
    background: transparent !important;
}
.sidebar a{
    font-family: 'aa';
    font-size: 18px;
    color: #070C10 !important;
}
.active{
    background: #CCCCCC !important;
    border-color: #aaa !important;
}
/*END SIDEBAR*/

/*START ARTICLE*/

legend{
    font-size: 2em;
    color: #3B3B3B !important;
    padding-top: 15px;
    font-size: 2em;
    font-weight: bold;
}
.title{
    height: 50px;
}
.well{
    position: relative;
}
.btndetail{
    position: absolute;
    top: 7px;
    right: 20px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border: 1px solid black;
    border-radius: 100%;
    display: none;
    color: white;
}


.smphone:hover .btndetail{
    display: block;

}
.smphone:hover .well:hover{
    background-color: rgba(3,179,216,0.1);
    /*opacity: 0.4;*/
    box-shadow: 2px 2px 20px gray;
}

/*p{*/
    /*text-align: justify;*/
/*}*/
.smphone img{
    height: 250px;
}
.smartPhone{
    text-align: center;
}
.price{
    font-size: 18px;
    color:#000;
    font-weight: bold;
}
.name{
    font-size: 17px;
}
.smphone .cart{
    width: 120px;
    margin-top: 20px;
    background: -webkit-linear-gradient(45deg,white,grey);
    color: black;
    border-radius: 0;
    font-size: 16px;

}
.cart:hover{
    background-color: #99CDDC;
    border-color: #020E26;
}
.side>a:hover{
    background-color: #99CDDC !important;
}

.smphone .name,.price{
    color: #020D25;
    font-weight: bold;
}
/*END ARTICLE*/

/*START ROTATE*/

.flip-container{
    perspective: 1000px;
}
.flip-container:hover .flipper{
    transform: rotateY(180deg);
}
.flip-container,.front,.back{
    width: 200px;
    height: 200px;
}

.flipper{
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front,.back{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front{
    z-index: 1;
    transform: rotateY(0deg);
}
.back{
    transform: rotateY(180deg);
}

.well .flip-container{
    margin: 0 auto;
}
@font-face{
    font-family: 'cour';
    src: url('../../public/font/Courgette-Regular.ttf');
}
.smartTitle{
    font-family: 'cour';
}
@font-face{
    font-family: 'droid';
    src: url('../../public/font/DroidSans.ttf');
}
.smphone{
    font-family: 'droid' !important;
}
.smphone a{
    text-decoration: none;
}

/*********************************End Smart Phone**************************************/


/********************************Register*********************************************/

/*body*/
/*{*/
    /*background:url("../../public/image/loginbg.lnk") fixed;*/
    /*background-size: cover;*/
/*}*/
#wel1
{

    height:480px;
    text-align: center;
    background: rgba(168,168,168,0.2);
    margin-top: 16vh;
}
.regbtn{
    background: linear-gradient(-45deg,gray,#F7F5F1,gray);
}
.form h2{
    font-size: 2em;
}
.m_form{
    margin-top: 20px;
}
.m_form .form-control{
    color:#fff!important;

}
@media(max-width: 768px){
    #wel1{
        height: 480px;
    }
}


/************************************End Register**************************************/



.navcart{
    border-radius: 0;
    height: 33px;
    padding-left: 5px;
    color: #fff !important;
    background-color: #F0AD4E;
}
.navcart:hover{
    background-color: #EC971F;
}
.cc .input-group-addon{
    width: 30px;
}
.cc{
    background: white;
}
.cc .fa, a{
    color:#C9B177 ;
}
.fa-shopping-cart{
    color:#C9B177;
}
.form-control{
    width: 100%;
    height: 30px;
    /*display: inline-block;*/

}
.form-control a{
    display: inline-block;
}
.nav li{
    text-align: center;
}
.navbar a{
    color:#ccc !important;
}
.navbar a:hover{
    background:#646464 !important;
    color: #fff !important;
}
.navbar{
    background-color: #242424 !important;
    border-bottom: 1px solid silver !important;
}
.navbar>li{
    width:115px;
}
/*Header*/
.con{
    text-align: center;
}
.con .bt{
    padding-top: 80px;

}


.ff{
    background: url("../image/bground.jpg") ;
    background-size: contain;
    height: 400px;
}

.con img{
    padding-top: 40px;
}
.con .fa{
    color: yellow !important;
}

.cont{
    margin-top:70px;
    height: 300px;
    text-align: center;

}
.cont img{
    width: 150px;
    height: 180px;
}
h4{
    color: black !important;
}

.f_contet .bg{
    height:140px;
    width: 140px;
    background: linear-gradient(white,#E3D26A,black);
    margin-top: 70px;
    border-radius: 100%;
    text-align: center;
}
.bg img{
    height: 160px;
    margin-top: -30px;
}
.f_contet .row{
    height: 300px;
}


@media(max-width: 992px){
    .form-inline{
        display: inline-block;
    }
}

.dropdown-menu{
    background-color: #242424 !important;
}